@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-roboto: 'Roboto', system-ui, sans-serif;
    --font-poppins: 'Poppins', system-ui, sans-serif;
    --font-open: 'Open Sans', system-ui, sans-serif;
    --font-montserrat: 'Montserrat', system-ui, sans-serif;
    --font-zentokyozoo: 'Zen Tokyo Zoo', system-ui, sans-serif;

}

@plugin "daisyui" {
    themes: all;
}